# 소행성 관측 계획 수립하기

* 이 노트북을 구글 코랩에서 실행하고자 한다면 [파일] - [드라이브에 사본 저장]을 하여 본인의 소유로 만든 후에 코드를 실행하거나 수정할 수 있습니다.

* 이 파일은 실제 수업에 사용하므로 필요에 따라 예고 없이 변경될 수 있습니다.

* If you have any questions or comments on this document, please email me(Kiehyun.Park@gmail.com).

* 이 파일(문서)는 공교육 현장에서 수업시간에 자유롭게 사용할 수 있으나, 다른 목적으로 사용할 시에는 사전에 연락을 주셔서 상의해 주시기 바랍니다.

이 자료는 What's observable로 부터 특정한 날 관측할 수 있는 소행성의 목록을 만드는 과정을 설명합니다.

## 필요한 환경

### 한글 폰트 설치 (matplotlib에서 한글 폰트 깨질 경우)

구글 코랩에서 현재의 Jupyter notebook을 실행한다면 matplotlib 그래프에 한글을 사용하기 위해서 폰트를 설치해야 합니다.

아래 코드의 주석을 제거한 후에 셀을 실해 주세요. 그리고 나서 런타임 다시 시작을 해 줘야 matplotlib 그래프에서 한글을 사용할 수 있습니다.

In [24]:
# !sudo apt-get install -y fonts-nanum
# !sudo fc-cache -fv
# !rm ~/.cache/matplotlib -rf

#### 런타임 다시 시작

위의 셀을 실행한 다음 반드시 다음 과정을 수행해야 합니다.

* [메뉴]-[런타임]-[런터임 다시 시작]

* [메뉴]-[런타임]-[이전 셀 실행]

#### 한글 폰트 사용

위에서 한글 폰트를 설치하고, 런타임 다시시작을 했다면 구글 코랩에서 폰트 경로를 설정하여 한글 사용이 가능해 집니다.

In [25]:
#visualization
import matplotlib as mpl
import matplotlib.pylab as pl
import matplotlib.pyplot as plt

# 브라우저에서 바로 그려지도록
%matplotlib inline

# 그래프에 retina display 적용
%config InlineBackend.figure_format = 'retina'

# Colab 의 한글 폰트 설정
# plt.rc('font', family='NanumBarunGothic')

# 유니코드에서  음수 부호설정
mpl.rc('axes', unicode_minus=False)

plt.rcParams.update({'figure.max_open_warning': 0})

import warnings
warnings.filterwarnings('ignore')

### 모듈 설치 및 버전 확인

아래 셀을 실행하면 이 노트북을 실행하는데 필요한 모듈을 설치하고 파이썬 및 관련 모듈의 버전을 확인할 수 있다.

In [26]:
import importlib, sys, subprocess
packages = "numpy, pandas, matplotlib, astroquery, requests, astropy, certifi, version_information" # required modules
pkgs = packages.split(", ")
for pkg in pkgs :
    if not importlib.util.find_spec(pkg):
        subprocess.check_call([sys.executable, '-m', 'pip', 'install', pkg, '-q'])
        print(f"**** {pkg} module is now installed.")
    else:
        print(f"******** {pkg} module is already installed.")
%load_ext version_information
import time
now = time.strftime("%Y-%m-%d %H:%M:%S (%Z = GMT%z)")
print(f"This notebook was generated at {now} ")

vv = %version_information {packages}
for i, pkg in enumerate(vv.packages):
    print(f"{i} {pkg[0]:10s} {pkg[1]:s}")

******** numpy module is already installed.
******** pandas module is already installed.
******** matplotlib module is already installed.
******** astroquery module is already installed.
******** requests module is already installed.
******** astropy module is already installed.
******** certifi module is already installed.
******** version_information module is already installed.
The version_information extension is already loaded. To reload it, use:
  %reload_ext version_information
This notebook was generated at 2024-09-17 12:20:31 (UTC = GMT+0000)
0 Python     3.10.12 64bit [GCC 11.4.0]
1 IPython    7.34.0
2 OS         Linux 6.1.85+ x86_64 with glibc2.35
3 numpy      1.26.4
4 pandas     2.1.4
5 matplotlib 3.7.1
6 astroquery 0.4.7
7 requests   2.32.3
8 astropy    6.1.3
9 certifi    2024.08.30
10 version_information 1.0.4

## 날짜와 시간 다루기

### datetime.datetime

Python 내장 모듈인 datetime을 사용하면 날짜와 시각 객체를 다룰 수 있습니다.

#### 표준시와 세계시

In [27]:
from datetime import datetime, timedelta, timezone

dt_kst_now = datetime.now()
print("현재 시각(KST=GMT+9) :", dt_kst_now)

timezone_utc = timezone(timedelta(hours=-9))
dt_utc_now = dt_kst_now.astimezone(timezone_utc)
print("현재 시각(UTC) :", dt_utc_now)

현재 시각(KST=GMT+9) : 2024-09-17 12:20:31.735661
현재 시각(UTC) : 2024-09-17 03:20:31.735661-09:00

#### fits header의 시간 형식

fits header의 시간 형식은 '2023-09-11T20:19:18'의 형태를 띠고 있는데 datetime.strptime을 이용하면 날짜시간 형식을 바로 datetime 객체로 만들 수 있습니다.

이를 세계시로 바꾸려면 timedelta를 이용할 수 있습니다.

In [28]:
start_dt_kst_str = '2023-09-11T20:19:18'
end_dt_kst_str = '2023-12-31T00:00:00'

start_dt_kst = datetime.strptime(start_dt_kst_str, '%Y-%m-%dT%H:%M:%S')
print(start_dt_kst)
print(type(start_dt_kst))

start_dt_utc = start_dt_kst + timedelta(hours=-9)
print(start_dt_utc)
print(type(start_dt_utc))

2023-09-11 20:19:18
<class 'datetime.datetime'>
2023-09-11 11:19:18
<class 'datetime.datetime'>

#### string 형태로 변환하기

datetime 객체를 string으로 바꿀때는 strftime 메쏘들ㄹ 이용하면 됩니다.

In [29]:

start_dt_utc_str = start_dt_utc.strftime('%Y-%m-%dT%H:%M:%S')
print("start_dt_utc_str :", start_dt_utc_str)
print("type(start_dt_utc_str) :", type(start_dt_utc_str))

start_dt_utc_str : 2023-09-11T11:19:18
type(start_dt_utc_str) : <class 'str'>

#### datetime 이용하여 list 생성

아래와 같이 하면, 시작 시각과 끝나는 시각, 그리고 시간 간격을 정해 주고, Python의 datatime 객체를 이용하여 일정 시간 간격의 목록(list)을 만을 수 있다.

In [30]:
from datetime import datetime, timedelta
start_time_text = "2017-01-01"
end_time_text = "2017-06-01"
dt = 1
def datetime_range(start_dt, end_dt, delta):
    '''
        Parameters
        ----------
        start_dt : datetime.datetime
        end_dt : datetime.datetime
        delta : int
    '''
    current = start_dt
    while current < end_dt:
        yield current
        current += delta

dts = [dt.strftime('%Y-%m-%d') for dt in
            datetime_range(datetime.fromisoformat(start_time_text), datetime.fromisoformat(end_time_text),
            timedelta(days=dt))]

print("len(dts):", len(dts))
print("dts", dts)

len(dts): 151
dts ['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08', '2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12', '2017-01-13', '2017-01-14', '2017-01-15', '2017-01-16', '2017-01-17', '2017-01-18', '2017-01-19', '2017-01-20', '2017-01-21', '2017-01-22', '2017-01-23', '2017-01-24', '2017-01-25', '2017-01-26', '2017-01-27', '2017-01-28', '2017-01-29', '2017-01-30', '2017-01-31', '2017-02-01', '2017-02-02', '2017-02-03', '2017-02-04', '2017-02-05', '2017-02-06', '2017-02-07', '2017-02-08', '2017-02-09', '2017-02-10', '2017-02-11', '2017-02-12', '2017-02-13', '2017-02-14', '2017-02-15', '2017-02-16', '2017-02-17', '2017-02-18', '2017-02-19', '2017-02-20', '2017-02-21', '2017-02-22', '2017-02-23', '2017-02-24', '2017-02-25', '2017-02-26', '2017-02-27', '2017-02-28', '2017-03-01', '2017-03-02', '2017-03-03', '2017-03-04', '2017-03-05', '2017-03-06', '2017-03-07', '2017-03-08', '2017-03-09', '2017-03-10', '2017-03-11', '2017-03-12', '2017-03-13', '2017-03-14', '2017-03-15', '2017-03-16', '2017-03-17', '2017-03-18', '2017-03-19', '2017-03-20', '2017-03-21', '2017-03-22', '2017-03-23', '2017-03-24', '2017-03-25', '2017-03-26', '2017-03-27', '2017-03-28', '2017-03-29', '2017-03-30', '2017-03-31', '2017-04-01', '2017-04-02', '2017-04-03', '2017-04-04', '2017-04-05', '2017-04-06', '2017-04-07', '2017-04-08', '2017-04-09', '2017-04-10', '2017-04-11', '2017-04-12', '2017-04-13', '2017-04-14', '2017-04-15', '2017-04-16', '2017-04-17', '2017-04-18', '2017-04-19', '2017-04-20', '2017-04-21', '2017-04-22', '2017-04-23', '2017-04-24', '2017-04-25', '2017-04-26', '2017-04-27', '2017-04-28', '2017-04-29', '2017-04-30', '2017-05-01', '2017-05-02', '2017-05-03', '2017-05-04', '2017-05-05', '2017-05-06', '2017-05-07', '2017-05-08', '2017-05-09', '2017-05-10', '2017-05-11', '2017-05-12', '2017-05-13', '2017-05-14', '2017-05-15', '2017-05-16', '2017-05-17', '2017-05-18', '2017-05-19', '2017-05-20', '2017-05-21', '2017-05-22', '2017-05-23', '2017-05-24', '2017-05-25', '2017-05-26', '2017-05-27', '2017-05-28', '2017-05-29', '2017-05-30', '2017-05-31']

### astropy.time

표준시나 세계시 정도는 datetime을 사용해도 무방하지만 천문학에서 사용하는 시간에는 조금 부족합니다. 천문학에서 사용하는 시간계는 datetime 모듈보다는 astropy.time 모듈을 사용하기를 권장합니다.

#### 세계시

In [31]:
from astropy.time import Time

t_kst_now = Time.now()
print("현재 시각(KST=GMT+9) :", t_kst_now)

t_ut_now = Time(datetime.utcnow(), scale='utc', location=('127d', '37d'))
print("현재 시각(UTC) :", t_ut_now)

print("type(t_ut_now) ;", type(t_ut_now))

현재 시각(KST=GMT+9) : 2024-09-17 12:20:31.906452
현재 시각(UTC) : 2024-09-17 12:20:31.951186
type(t_ut_now) ; <class 'astropy.time.core.Time'>

#### dir함수로 메쏘드 알아보기

In [32]:
print("dir(t_ut_now) ;", dir(t_ut_now))

dir(t_ut_now) ; ['FORMATS', 'SCALES', 'T', '_APPLICABLE_FUNCTIONS', '_METHOD_FUNCTIONS', '__abstractmethods__', '__add__', '__array_function__', '__array_priority__', '__bool__', '__class__', '__copy__', '__deepcopy__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_abc_impl', '_advanced_index', '_apply', '_astropy_column_attrs', '_call_erfa', '_format', '_get_delta_tdb_tt', '_get_delta_ut1_utc', '_get_time_fmt', '_id_cache', '_init_from_vals', '_location', '_make_value_equivalent', '_match_shape', '_ptp_decorator', '_ptp_impl', '_set_delta_tdb_tt', '_set_delta_ut1_utc', '_set_scale', '_shaped_like_input', '_sid_time_or_earth_rot_ang', '_time', '_time_comparison', 'argmax', 'argmin', 'argsort', 'byear', 'byear_str', 'cache', 'copy', 'cxcsec', 'datetime', 'datetime64', 'decimalyear', 'delta_tdb_tt', 'delta_ut1_utc', 'diagonal', 'earth_rotation_angle', 'filled', 'fits', 'flatten', 'format', 'get_delta_ut1_utc', 'gps', 'in_subfmt', 'info', 'insert', 'isclose', 'iso', 'isot', 'isscalar', 'jd', 'jd1', 'jd2', 'jyear', 'jyear_str', 'light_travel_time', 'location', 'mask', 'masked', 'max', 'mean', 'min', 'mjd', 'ndim', 'now', 'out_subfmt', 'plot_date', 'precision', 'ptp', 'ravel', 'replicate', 'reshape', 'scale', 'shape', 'sidereal_time', 'size', 'sort', 'squeeze', 'stardate', 'strftime', 'strptime', 'swapaxes', 'tai', 'take', 'tcb', 'tcg', 'tdb', 'to_datetime', 'to_string', 'to_value', 'transpose', 'tt', 'unix', 'unix_tai', 'unmasked', 'ut1', 'utc', 'value', 'writeable', 'yday', 'ymdhms']

#### Julian day 구하기

In [33]:
print("t_ut_now.to_value(format='jd') ;", t_ut_now.to_value(format='jd'))

t_ut_now.to_value(format='jd') ; 2460571.0142586944

#### 항성시

In [34]:
print("t_ut_now.sidereal_time('mean') :", t_ut_now.sidereal_time('mean'))

t_ut_now.sidereal_time('mean') : 20h36m14.68431983s

#### astropy.time 이용하여 list 생성

일정 시간 간격으로 시뮬레이션 하려면 시간 간격의 리스트를 미리 만들어 두면 편리할 것입니다. 다음은 Python의 astropy.time을 이용하여 일정 시간 간격의 목록(list)을 만드는 방법입니다.

In [35]:
import numpy as np
from astropy.time import Time, TimeDelta

start_time_text = "2023-10-06"
end_time_text = "2023-10-15"
dt = 1

def astropyTime_range(start_t, end_t, delta):
    '''
        Parameters
        ----------
        start_t : datetime.datetime
        end_t : datetime.datetime
        delta : int
    '''
    current = start_t
    while current < end_t:
        yield current
        current += delta

dts = [dt for dt in
        astropyTime_range(Time(start_time_text), Time(end_time_text),
        TimeDelta(dt, format='jd'))]

print(len(dts))
print(dts)

9
[<Time object: scale='utc' format='iso' value=2023-10-06 00:00:00.000>, <Time object: scale='utc' format='iso' value=2023-10-07 00:00:00.000>, <Time object: scale='utc' format='iso' value=2023-10-08 00:00:00.000>, <Time object: scale='utc' format='iso' value=2023-10-09 00:00:00.000>, <Time object: scale='utc' format='iso' value=2023-10-10 00:00:00.000>, <Time object: scale='utc' format='iso' value=2023-10-11 00:00:00.000>, <Time object: scale='utc' format='iso' value=2023-10-12 00:00:00.000>, <Time object: scale='utc' format='iso' value=2023-10-13 00:00:00.000>, <Time object: scale='utc' format='iso' value=2023-10-14 00:00:00.000>]

## What's observable

[What's observable](https://ssd.jpl.nasa.gov/tools/sbwobs.html) 에서는 관측소 코드와 관측 조건들을 설정하여 소행성과 혜성의 관측 대상의 정보를 얻을 수 있습니다.

### Horizons API

[Horizons API](https://ssd-api.jpl.nasa.gov/doc/horizons.html)를 제공하고 있어 requests로 받아아올 url을 만들수 있습니다.

#### 검색 조건 설정

먼저 조건들을 변수로 설정해 보겠습니다.

In [36]:
#############################################
# variables
mpc_code='P64' # Observer Location: GSHS Observatory, Suwon [code: P64]

#관측 시각 설정 (현재 시각)
t_ut_now = Time(datetime.now(), scale='utc', location=('127d', '37d'))
print("type(obs_dt_utc) :", type(t_ut_now))
print("현재 시각(UTC) :", t_ut_now)

#관측 시각 설정 (임의의 시각)
# t_ut_now = Time(datetime(2023, 10, 2, 10, 0, 0), scale='utc', location=('127d', '37d'))
# print("type(obs_dt_utc) :", type(t_ut_now))
# print("현재 시각(UTC) :", t_ut_now)

obs_datetime = t_ut_now.strftime('%Y-%m-%dT%H:%M:%S')
print("obs_datetime :", obs_datetime)
obs_date = t_ut_now.strftime('%Y%m%d')
print("obs_date :", obs_date)

elev_min=60  #
time_min=15
vmag_min=6
vmag_max=13
list_num=100
sort='trans'

type(obs_dt_utc) : <class 'astropy.time.core.Time'>
현재 시각(UTC) : 2024-09-17 12:20:32.485166
obs_datetime : 2024-09-17T12:20:32
obs_date : 20240917

#### url 만들기

In [37]:
# Define API URL and SPK filename:
url = 'https://ssd-api.jpl.nasa.gov/sbwobs.api'
spk_filename = 'spk_file.bsp'

# Get the requested SPK-ID from the command-line:
if (len(sys.argv)) == 1:
  print("please specify SPK-ID on the command-line")
  sys.exit(2)
spkid = sys.argv[1]

# Build the appropriate URL for this API request:
# IMPORTANT: You must encode the "=" as "%3D" and the ";" as "%3B" in the
#            Horizons COMMAND parameter specification.
url += f"?sb-kind=a&mpc-code={mpc_code}&obs-time={obs_datetime}&elev-min={elev_min}&time-min={time_min}"
url += f"&vmag-max={vmag_max}&vmag-min={vmag_min}&optical=true&fmt-ra-dec=true&mag-required=true&output-sort={sort}&maxoutput={list_num}"

print("url :", url)

url : https://ssd-api.jpl.nasa.gov/sbwobs.api?sb-kind=a&mpc-code=P64&obs-time=2024-09-17T12:20:32&elev-min=60&time-min=15&vmag-max=13&vmag-min=6&optical=true&fmt-ra-dec=true&mag-required=true&output-sort=trans&maxoutput=100

### reauests.get

api에서 제공하는 내용을 json 형태로 받아 보겠습니다.

In [38]:
import json
import requests
# Submit the API request and decode the JSON-response:
response = requests.get(url)
try:
  data = json.loads(response.text)
  print(data)
except ValueError:
  print("Unable to decode JSON results")

{'signature': {'source': 'NASA/JPL Small-Body Observability API', 'version': '1.0'}, 'obs_constraints': {'fmt-ra-dec': 'true', 'vmag-min': '6', 'obs-time': '2024-09-17 12:20:32', 'elev-min': '60', 'mpc-code': 'P64', 'time-min': '15', 'optical': 'true', 'vmag-max': '13', 'output-sort': 'trans', 'maxoutput': '100', 'mag-required': 'true'}, 'sb_constraints': {'sb-kind': 'a'}, 'location': 'GSHS Observatory, Suwon', 'obs_night': {'sun_set_az': '273.3', 'sun_set': '2024-09-17 09:35', 'end_civil': '2024-09-17 10:01', 'end_nautical': '2024-09-17 10:32', 'end_astronomical': '2024-09-17 11:03', 'begin_astronomical': '2024-09-17 19:46', 'begin_nautical': '2024-09-17 20:18', 'begin_civil': '2024-09-17 20:48', 'sun_rise_az': '86.9', 'sun_rise': '2024-09-17 21:14', 'transit_phase': '1.00', 'transit': '2024-09-17 15:06 ', 'moon_set_phase': '1.00', 'moon_set': '2024-09-17 21:00 ', 'moon_rise_phase': '0.99', 'moon_rise': '2024-09-17 09:15 ', 'begin_dark': '2024-09-17 11:03', 'mid_dark': '2024-09-17 15:25', 'end_dark': '2024-09-17 19:46', 'dark_time': '08:43'}, 'fields': ['Designation', 'Full name', 'Rise time', 'Transit time', 'Set time', 'Max. time observable', 'R.A.', 'Dec.', 'Vmag', 'Helio. range (au)', 'Topo.range (au)', 'Object-Observer-Sun (deg)', 'Object-Observer-Moon (deg)', 'Galactic latitude (deg)'], 'sort_by': 'transit time (asc.)', 'data': [['1036', '1036 Ganymed (A924 UB)', '09:43*', '12:14', '14:44', '03:41', '20:29:57', '+51 27\'42"', '9.48', '1.25', '0.442', '112.94', '68.64', '7.26'], ['176', '176 Iduna (A877 TB)', '12:16', '13:10', '14:03', '01:47', '21:26:01', '+09 53\'25"', '12.9', '2.81', '1.93', '144.04', '32.78', '-27.81'], ['137', '137 Meliboea (A874 HA)', '14:53', '15:20', '15:47', '00:53', '23:36:39', '+07 56\'30"', '11.8', '2.60', '1.61', '170.06', '15.41', '-50.51'], ['109', '109 Felicitas (A869 TA)', '16:14', '16:52', '17:29', '01:15', '01:08:29', '+08 34\'00"', '11.6', '2.07', '1.12', '156.16', '31.29', '-54.24'], ['547', '547 Praxedis (A904 TE)', '16:14', '17:14', '18:15', '02:01', '01:31:30', '+10 37\'23"', '12.9', '2.14', '1.21', '150.14', '37.28', '-51.22'], ['203', '203 Pompeja (A879 SA)', '16:06', '17:23', '18:40', '02:34', '01:39:43', '+12 47\'00"', '12.9', '2.60', '1.69', '147.42', '40.05', '-48.62'], ['19', '19 Fortuna (A852 QA)', '16:20', '17:34', '18:47', '02:27', '01:50:38', '+12 16\'20"', '10.4', '2.07', '1.17', '145.18', '42.22', '-48.29'], ['10', '10 Hygiea (A849 GA)', '16:03', '17:46', '19:30', '03:27', '02:03:37', '+17 51\'02"', '11.1', '3.42', '2.59', '140.04', '47.50', '-41.97'], ['270', '270 Anahita (A887 TA)', '16:53', '18:47', '20:42*', '02:53', '03:04:41', '+20 27\'23"', '11.9', '1.96', '1.19', '125.70', '61.74', '-32.79'], ['33', '33 Polyhymnia (A854 UB)', '17:14', '19:05', '20:55*', '02:32', '03:22:02', '+19 30\'01"', '11.6', '2.05', '1.33', '122.07', '65.29', '-31.08'], ['11', '11 Parthenope (A850 JA)', '18:12', '19:36', '21:00*', '01:34', '03:53:21', '+13 50\'25"', '10.9', '2.37', '1.75', '115.91', '71.08', '-30.09'], ['103', '103 Hera (A868 RA)', '18:39', '20:09*', '21:40*', '01:07', '04:26:49', '+14 59\'38"', '12.6', '2.65', '2.16', '107.73', '79.25', '-23.21'], ['67', '67 Asia (A861 HA)', '18:24', '20:12*', '22:00*', '01:22', '04:29:29', '+18 55\'32"', '12.8', '2.38', '1.89', '106.59', '80.59', '-20.23'], ['13', '13 Egeria (A850 VA)', '18:28', '20:38*', '22:48*', '01:18', '04:55:20', '+25 33\'09"', '11.6', '2.49', '2.11', '99.79', '87.61', '-11.42'], ['15', '15 Eunomia (A851 OA)', '18:39', '21:07*', '23:36*', '01:07', '05:25:04', '+34 50\'57"', '9.58', '2.17', '1.88', '92.49', '95.11', '-0.76'], ['247', '247 Eukrate (A885 EB)', '18:44', '21:19*', '23:54*', '01:02', '05:36:30', '+47 01\'16"', '12.3', '2.06', '1.81', '89.64', '97.95', '7.70'], ['36', '36 Atalante (A855 TA)', '19:11', '21:46*', '00:20*', '00:35', '06:03:19', '+41 11\'29"', '12.5', '1.92', '1.72', '84.84', '102.8', '8.96']], 'total_objects': '17', 'shown_objects': '17'}

안에 들어 있는 데이터를 확인해 보곘습니다.

In [39]:
print("type(data) :", type(data))
print("data.keys :", data.keys)

type(data) : <class 'dict'>
data.keys : <built-in method keys of dict object at 0x7d35a47d9180>

 아마도 data['fields']에 있는 것이 필요한 자료인것 같습니다.

In [40]:
print(data['obs_constraints'])
print(data['sb_constraints'])
print(data['fields'])
print(data['data'])
print(type(data['fields']))
print(len(data['fields']))
print(len(data['data'][0]))

{'fmt-ra-dec': 'true', 'vmag-min': '6', 'obs-time': '2024-09-17 12:20:32', 'elev-min': '60', 'mpc-code': 'P64', 'time-min': '15', 'optical': 'true', 'vmag-max': '13', 'output-sort': 'trans', 'maxoutput': '100', 'mag-required': 'true'}
{'sb-kind': 'a'}
['Designation', 'Full name', 'Rise time', 'Transit time', 'Set time', 'Max. time observable', 'R.A.', 'Dec.', 'Vmag', 'Helio. range (au)', 'Topo.range (au)', 'Object-Observer-Sun (deg)', 'Object-Observer-Moon (deg)', 'Galactic latitude (deg)']
[['1036', '1036 Ganymed (A924 UB)', '09:43*', '12:14', '14:44', '03:41', '20:29:57', '+51 27\'42"', '9.48', '1.25', '0.442', '112.94', '68.64', '7.26'], ['176', '176 Iduna (A877 TB)', '12:16', '13:10', '14:03', '01:47', '21:26:01', '+09 53\'25"', '12.9', '2.81', '1.93', '144.04', '32.78', '-27.81'], ['137', '137 Meliboea (A874 HA)', '14:53', '15:20', '15:47', '00:53', '23:36:39', '+07 56\'30"', '11.8', '2.60', '1.61', '170.06', '15.41', '-50.51'], ['109', '109 Felicitas (A869 TA)', '16:14', '16:52', '17:29', '01:15', '01:08:29', '+08 34\'00"', '11.6', '2.07', '1.12', '156.16', '31.29', '-54.24'], ['547', '547 Praxedis (A904 TE)', '16:14', '17:14', '18:15', '02:01', '01:31:30', '+10 37\'23"', '12.9', '2.14', '1.21', '150.14', '37.28', '-51.22'], ['203', '203 Pompeja (A879 SA)', '16:06', '17:23', '18:40', '02:34', '01:39:43', '+12 47\'00"', '12.9', '2.60', '1.69', '147.42', '40.05', '-48.62'], ['19', '19 Fortuna (A852 QA)', '16:20', '17:34', '18:47', '02:27', '01:50:38', '+12 16\'20"', '10.4', '2.07', '1.17', '145.18', '42.22', '-48.29'], ['10', '10 Hygiea (A849 GA)', '16:03', '17:46', '19:30', '03:27', '02:03:37', '+17 51\'02"', '11.1', '3.42', '2.59', '140.04', '47.50', '-41.97'], ['270', '270 Anahita (A887 TA)', '16:53', '18:47', '20:42*', '02:53', '03:04:41', '+20 27\'23"', '11.9', '1.96', '1.19', '125.70', '61.74', '-32.79'], ['33', '33 Polyhymnia (A854 UB)', '17:14', '19:05', '20:55*', '02:32', '03:22:02', '+19 30\'01"', '11.6', '2.05', '1.33', '122.07', '65.29', '-31.08'], ['11', '11 Parthenope (A850 JA)', '18:12', '19:36', '21:00*', '01:34', '03:53:21', '+13 50\'25"', '10.9', '2.37', '1.75', '115.91', '71.08', '-30.09'], ['103', '103 Hera (A868 RA)', '18:39', '20:09*', '21:40*', '01:07', '04:26:49', '+14 59\'38"', '12.6', '2.65', '2.16', '107.73', '79.25', '-23.21'], ['67', '67 Asia (A861 HA)', '18:24', '20:12*', '22:00*', '01:22', '04:29:29', '+18 55\'32"', '12.8', '2.38', '1.89', '106.59', '80.59', '-20.23'], ['13', '13 Egeria (A850 VA)', '18:28', '20:38*', '22:48*', '01:18', '04:55:20', '+25 33\'09"', '11.6', '2.49', '2.11', '99.79', '87.61', '-11.42'], ['15', '15 Eunomia (A851 OA)', '18:39', '21:07*', '23:36*', '01:07', '05:25:04', '+34 50\'57"', '9.58', '2.17', '1.88', '92.49', '95.11', '-0.76'], ['247', '247 Eukrate (A885 EB)', '18:44', '21:19*', '23:54*', '01:02', '05:36:30', '+47 01\'16"', '12.3', '2.06', '1.81', '89.64', '97.95', '7.70'], ['36', '36 Atalante (A855 TA)', '19:11', '21:46*', '00:20*', '00:35', '06:03:19', '+41 11\'29"', '12.5', '1.92', '1.72', '84.84', '102.8', '8.96']]
<class 'list'>
14
14

### dataframe 만들기

아무래도 가장 다루기 쉬운 데이타 형태인 dataframe으로 만들어 보겠습니다.

In [41]:
import pandas as pd

df = pd.DataFrame.from_dict(data['data'])
df = df.set_axis((data['fields']), axis=1)
df['OBSdate(UT)'] = obs_date
df

,Designation,Full name,Rise time,Transit time,Set time,Max. time observable,R.A.,Dec.,Vmag,Helio. range (au),Topo.range (au),Object-Observer-Sun (deg),Object-Observer-Moon (deg),Galactic latitude (deg),OBSdate(UT)
0,1036,1036 Ganymed (A924 UB),09:43*,12:14,14:44,03:41,20:29:57,"+51 27'42""",9.48,1.25,0.442,112.94,68.64,7.26,20240917
1,176,176 Iduna (A877 TB),12:16,13:10,14:03,01:47,21:26:01,"+09 53'25""",12.9,2.81,1.93,144.04,32.78,-27.81,20240917
2,137,137 Meliboea (A874 HA),14:53,15:20,15:47,00:53,23:36:39,"+07 56'30""",11.8,2.60,1.61,170.06,15.41,-50.51,20240917
3,109,109 Felicitas (A869 TA),16:14,16:52,17:29,01:15,01:08:29,"+08 34'00""",11.6,2.07,1.12,156.16,31.29,-54.24,20240917
4,547,547 Praxedis (A904 TE),16:14,17:14,18:15,02:01,01:31:30,"+10 37'23""",12.9,2.14,1.21,150.14,37.28,-51.22,20240917
5,203,203 Pompeja (A879 SA),16:06,17:23,18:40,02:34,01:39:43,"+12 47'00""",12.9,2.60,1.69,147.42,40.05,-48.62,20240917
6,19,19 Fortuna (A852 QA),16:20,17:34,18:47,02:27,01:50:38,"+12 16'20""",10.4,2.07,1.17,145.18,42.22,-48.29,20240917
7,10,10 Hygiea (A849 GA),16:03,17:46,19:30,03:27,02:03:37,"+17 51'02""",11.1,3.42,2.59,140.04,47.50,-41.97,20240917
8,270,270 Anahita (A887 TA),16:53,18:47,20:42*,02:53,03:04:41,"+20 27'23""",11.9,1.96,1.19,125.70,61.74,-32.79,20240917
9,33,33 Polyhymnia (A854 UB),17:14,19:05,20:55*,02:32,03:22:02,"+19 30'01""",11.6,2.05,1.33,122.07,65.29,-31.08,20240917
10,11,11 Parthenope (A850 JA),18:12,19:36,21:00*,01:34,03:53:21,"+13 50'25""",10.9,2.37,1.75,115.91,71.08,-30.09,20240917
11,103,103 Hera (A868 RA),18:39,20:09*,21:40*,01:07,04:26:49,"+14 59'38""",12.6,2.65,2.16,107.73,79.25,-23.21,20240917
12,67,67 Asia (A861 HA),18:24,20:12*,22:00*,01:22,04:29:29,"+18 55'32""",12.8,2.38,1.89,106.59,80.59,-20.23,20240917
13,13,13 Egeria (A850 VA),18:28,20:38*,22:48*,01:18,04:55:20,"+25 33'09""",11.6,2.49,2.11,99.79,87.61,-11.42,20240917
14,15,15 Eunomia (A851 OA),18:39,21:07*,23:36*,01:07,05:25:04,"+34 50'57""",9.58,2.17,1.88,92.49,95.11,-0.76,20240917
15,247,247 Eukrate (A885 EB),18:44,21:19*,23:54*,01:02,05:36:30,"+47 01'16""",12.3,2.06,1.81,89.64,97.95,7.70,20240917
16,36,36 Atalante (A855 TA),19:11,21:46*,00:20*,00:35,06:03:19,"+41 11'29""",12.5,1.92,1.72,84.84,102.8,8.96,20240917

### 관측 계획 저장 폴더 생성

FITS 파일을 저장할 폴더를 "OBSplan_asteroid" 이라는 이름으로 생성해보겠습니다.

* 만약 리눅스 시스템 이라면 shell 명령어로 가능한데, "!"를 붙이면 shell 명령어를 실행할 수 있습니다.
> !mkdir OBSplan_asteroid

OS의 영향을 받지 않기 위하여 pathlib을 사용하여 다음과 같이 폴더를 생성합니다.

In [42]:
import os
from pathlib import Path
BASEPATH = Path("./")
save_dir_name = "OBSplan_asteroid"
print(f"BASEPATH: {BASEPATH}")

if not (BASEPATH/save_dir_name).exists():
    os.mkdir(str(BASEPATH/save_dir_name))
    print (f"{str(BASEPATH/save_dir_name)} is created...")
else :
    print (f"{str(BASEPATH/save_dir_name)} is already exist...")

BASEPATH: .
OBSplan_asteroid is already exist...

### dataframe 저장

In [43]:
df.to_csv(str(BASEPATH/save_dir_name/ f'asteroid_{obs_date}.csv'))

### (과제)

12월 1달 동안의 NEA 목록을 csv  파일로 저장하는 코드를 완성하세요.

In [ ]:
#(과제) 아래 코딩을 완성하여 제출하시오.
#############################################
# variables
mpc_code='P64' # Observer Location: GSHS Observatory, Suwon [code: P64]

elev_min=60 #
time_min=15
vmag_min=6
vmag_max=13
list_num=50
sort='trans'
#############################################

start_dt    = datetime(2024, 12, 1)
end_dt      = datetime(2025, 1, 1)
dt = 1

dts = [dt for dt in
            datetime_range(start_dt, end_dt,
            timedelta(days=dt))]

print("len(dts):", len(dts))
print("dts", dts)

df_all = pd.DataFrame()

for dt in dts :
    obs_datetime = dt.strftime('%Y-%m-%d %H:%M:%S')
    print("obs_datetime :", obs_datetime)
    obs_date = dt.strftime('%Y%m%d')
    print("obs_date :", obs_date)

    # Define API URL and SPK filename:
    url = 'https://ssd-api.jpl.nasa.gov/sbwobs.api'
    spk_filename = 'spk_file.bsp'

    # Get the requested SPK-ID from the command-line:
    if (len(sys.argv)) == 1:
        print("please specify SPK-ID on the command-line")
        sys.exit(2)
    spkid = sys.argv[1]

    # Build the appropriate URL for this API request:
    # IMPORTANT: You must encode the "=" as "%3D" and the ";" as "%3B" in the
    #            Horizons COMMAND parameter specification.
    url += f"?sb-kind=a&mpc-code={mpc_code}&obs-time={str(obs_datetime)}&elev-min={elev_min}&time-min={time_min}"
    url += f"&vmag-max={vmag_max}&vmag-min={vmag_min}&optical=true&fmt-ra-dec=true&mag-required=true&output-sort={sort}&maxoutput={list_num}"

    print("url :", url)

    # Submit the API request and decode the JSON-response:
    response = requests.get(url)
    try:
        data = json.loads(response.text)
        print(data)
    except ValueError:
        print("Unable to decode JSON results")

    df = pd.DataFrame.from_dict(data['data'])
    df = df.set_axis((data['fields']), axis=1)
    df['OBSdate(UT)'] = obs_date
    #print(df)

    df.to_csv(str(BASEPATH/save_dir_name/f"asteroid_{dt.strftime('%Y%m%d')}.csv"))

    df_all = pd.concat([df_all, df], axis = 0)

df_all.reset_index(inplace=True)
print("df_all :", df_all)

df_all.to_csv(str(BASEPATH/save_dir_name/f"asteroid_{dts[0].strftime('%Y%m%d')}-{dts[-1].strftime('%Y%m%d')}.csv"))

len(dts): 31
dts [datetime.datetime(2024, 12, 1, 0, 0), datetime.datetime(2024, 12, 2, 0, 0), datetime.datetime(2024, 12, 3, 0, 0), datetime.datetime(2024, 12, 4, 0, 0), datetime.datetime(2024, 12, 5, 0, 0), datetime.datetime(2024, 12, 6, 0, 0), datetime.datetime(2024, 12, 7, 0, 0), datetime.datetime(2024, 12, 8, 0, 0), datetime.datetime(2024, 12, 9, 0, 0), datetime.datetime(2024, 12, 10, 0, 0), datetime.datetime(2024, 12, 11, 0, 0), datetime.datetime(2024, 12, 12, 0, 0), datetime.datetime(2024, 12, 13, 0, 0), datetime.datetime(2024, 12, 14, 0, 0), datetime.datetime(2024, 12, 15, 0, 0), datetime.datetime(2024, 12, 16, 0, 0), datetime.datetime(2024, 12, 17, 0, 0), datetime.datetime(2024, 12, 18, 0, 0), datetime.datetime(2024, 12, 19, 0, 0), datetime.datetime(2024, 12, 20, 0, 0), datetime.datetime(2024, 12, 21, 0, 0), datetime.datetime(2024, 12, 22, 0, 0), datetime.datetime(2024, 12, 23, 0, 0), datetime.datetime(2024, 12, 24, 0, 0), datetime.datetime(2024, 12, 25, 0, 0), datetime.datetime(2024, 12, 26, 0, 0), datetime.datetime(2024, 12, 27, 0, 0), datetime.datetime(2024, 12, 28, 0, 0), datetime.datetime(2024, 12, 29, 0, 0), datetime.datetime(2024, 12, 30, 0, 0), datetime.datetime(2024, 12, 31, 0, 0)]
obs_datetime : 2024-12-01 00:00:00
obs_date : 20241201
url : https://ssd-api.jpl.nasa.gov/sbwobs.api?sb-kind=a&mpc-code=P64&obs-time=2024-12-01 00:00:00&elev-min=60&time-min=15&vmag-max=13&vmag-min=6&optical=true&fmt-ra-dec=true&mag-required=true&output-sort=trans&maxoutput=50
{'signature': {'version': '1.0', 'source': 'NASA/JPL Small-Body Observability API'}, 'obs_constraints': {'vmag-max': '13', 'elev-min': '60', 'mag-required': 'true', 'fmt-ra-dec': 'true', 'time-min': '15', 'maxoutput': '50', 'optical': 'true', 'vmag-min': '6', 'mpc-code': 'P64', 'output-sort': 'trans', 'obs-time': '2024-12-01 00:00:00'}, 'sb_constraints': {'sb-kind': 'a'}, 'location': 'GSHS Observatory, Suwon', 'obs_night': {'sun_set_az': '243.0', 'sun_set': '2024-11-30 08:13', 'end_civil': '2024-11-30 08:42', 'end_nautical': '2024-11-30 09:14', 'end_astronomical': '2024-11-30 09:45', 'begin_astronomical': '2024-11-30 20:53', 'begin_nautical': '2024-11-30 21:24', 'begin_civil': '2024-11-30 21:57', 'sun_rise_az': '117.1', 'sun_rise': '2024-11-30 22:25', 'transit_phase': '0.00', 'transit': '1984-10-26 23:58 ', 'moon_set_phase': '0.01', 'moon_set': '2024-11-30 07:11 ', 'moon_rise_phase': '0.00', 'moon_rise': '2024-11-30 22:25 ', 'begin_dark': '2024-11-30 09:45', 'mid_dark': '2024-11-30 15:19', 'end_dark': '2024-11-30 20:53', 'dark_time': '11:07'}, 'fields': ['Designation', 'Full name', 'Rise time', 'Transit time', 'Set time', 'Max. time observable', 'R.A.', 'Dec.', 'Vmag', 'Helio. range (au)', 'Topo.range (au)', 'Object-Observer-Sun (deg)', 'Object-Observer-Moon (deg)', 'Galactic latitude (deg)'], 'sort_by': 'transit time (asc.)', 'data': [['4954', '4954 Eric (1990 SQ)', '06:15*', '08:42*', '11:10', '01:24', '21:49:38', '+53 17\'03"', '12.6', '1.11', '0.342', '101.71', '109.0', '-0.45'], ['109', '109 Felicitas (A869 TA)', '10:21', '11:19', '12:18', '01:57', '00:27:18', '+10 24\'43"', '12.2', '1.92', '1.22', '121.22', '129.0', '-52.09'], ['10', '10 Hygiea (A849 GA)', '10:51', '12:11', '13:31', '02:40', '01:18:45', '+13 14\'35"', '11.2', '3.46', '2.70', '134.06', '141.7', '-49.27'], ['500', '500 Selinur (A903 BJ)', '10:32', '12:43', '14:55', '04:23', '01:51:27', '+26 15\'37"', '12.9', '2.32', '1.44', '143.91', '152.4', '-34.90'], ['270', '270 Anahita (A887 TA)', '11:35', '13:06', '14:38', '03:03', '02:14:13', '+15 14\'34"', '11.7', '2.07', '1.17', '147.49', '154.8', '-43.36'], ['33', '33 Polyhymnia (A854 UB)', '11:47', '13:31', '15:15', '03:27', '02:38:53', '+17 49\'51"', '11.5', '2.26', '1.33', '153.87', '161.2', '-38.30'], ['161', '161 Athor (A876 HA)', '11:27', '13:37', '15:46', '04:18', '02:44:52', '+25 17\'29"', '12.7', '2.40', '1.47', '155.95', '164.4', '-31.14'], ['189', '189 Phthia (A878 RA)', '12:30', '13:40', '14:50', '02:19', '02:47:56', '+11 45\'21"', '12.8', '2.38', '1.46', '153.89', '159.7', '-42.21'], ['11', '11 Parthenope (A850 JA)', '13:03', '14:02', '15:01', '01:57', '03:10:27', '+10 25\'15"', '10.2', '2.45', '1.50', '158.04', '162.3', '-39.84'], ['67', '67 Asia (A861 HA)', '13:23', '14:47', '16:10', '02:47', '03:55:16', '+13 48\'57"', '11.8', '2.53', '1.55', '168.71', '169.0', '-29.77'], ['103', '103 Hera (A868 RA)', '13:35', '14:47', '16:00', '02:24', '03:55:45', '+12 05\'02"', '11.6', '2.71', '1.74', '167.48', '167.3', '-30.85'], ['54', '54 Alexandra (A858 RA)', '12:30', '15:02', '17:33', '05:03', '04:10:23', '+37 20\'34"', '12.3', '2.97', '2.01', '163.94', '167.0', '-10.69'], ['13', '13 Egeria (A850 VA)', '12:56', '15:24', '17:53', '04:57', '04:32:57', '+34 58\'16"', '10.1', '2.43', '1.46', '166.79', '166.8', '-9.09'], ['1284', '1284 Latvia (1933 OP)', '13:11', '15:43', '18:15', '05:03', '04:51:22', '+37 42\'28"', '13.0', '2.20', '1.23', '163.36', '162.2', '-4.50'], ['47', '47 Aglaja (A857 RA)', '13:43', '16:04', '18:24', '04:40', '05:12:19', '+30 01\'18"', '12.5', '3.01', '2.04', '167.24', '161.9', '-5.74'], ['75', '75 Eurydike (A862 SA)', '13:49', '16:11', '18:34', '04:44', '05:20:06', '+31 01\'58"', '12.7', '2.53', '1.56', '165.29', '160.0', '-3.79'], ['350', '350 Ornamenta (A892 XC)', '14:57', '16:17', '17:37', '02:40', '05:25:44', '+13 16\'41"', '12.1', '2.61', '1.65', '164.01', '155.5', '-12.53'], ['69', '69 Hesperia (A861 HC)', '15:28', '16:24', '17:21', '01:52', '05:32:57', '+10 07\'51"', '10.8', '2.54', '1.59', '160.71', '152.3', '-12.66'], ['15', '15 Eunomia (A851 OA)', '14:03', '16:32', '19:01', '04:57', '05:40:59', '+35 05\'02"', '8.30', '2.26', '1.31', '159.37', '154.7', '2.09'], ['416', '416 Vaticana (A896 JA)', '14:25', '16:48', '19:10', '04:44', '05:56:27', '+31 04\'11"', '12.9', '3.40', '2.47', '158.36', '152.3', '2.80'], ['116', '116 Sirona (A871 RA)', '14:52', '17:01', '19:10', '04:18', '06:09:36', '+25 17\'02"', '11.6', '2.62', '1.68', '156.68', '149.3', '2.48'], ['26', '26 Proserpina (A853 JA)', '15:00', '17:13', '19:26', '04:26', '06:21:57', '+26 43\'33"', '11.9', '2.87', '1.95', '153.81', '146.7', '5.61'], ['120', '120 Lachesis (A872 GB)', '15:12', '17:36', '20:00', '04:48', '06:44:56', '+32 04\'36"', '12.8', '3.22', '2.34', '148.13', '141.9', '12.45'], ['247', '247 Eukrate (A885 EB)', '16:23', '17:44', '19:05', '02:42', '06:52:55', '+64 48\'05"', '11.5', '2.11', '1.33', '130.97', '130.8', '24.27'], ['88', '88 Thisbe (A866 LA)', '15:44', '17:48', '19:52', '04:07', '06:56:58', '+23 18\'21"', '12.1', '3.08', '2.21', '145.86', '138.4', '11.24'], ['888', '888 Parysatis (A918 CE)', '17:02', '17:54', '18:46', '01:44', '07:02:39', '+09 43\'04"', '12.7', '2.22', '1.36', '141.21', '132.7', '6.60'], ['1626', '1626 Sadeya (1927 AA)', '15:27', '17:58', '20:30', '05:03', '07:07:18', '+37 24\'06"', '12.9', '1.73', '0.837', '142.54', '137.2', '18.71'], ['14', '14 Irene (A851 KA)', '16:11', '18:17', '20:23', '04:11', '07:25:49', '+24 00\'23"', '10.5', '2.52', '1.69', '139.35', '132.1', '17.58'], ['122', '122 Gerda (A872 OA)', '16:33', '18:24', '20:15', '03:41', '07:32:49', '+19 33\'09"', '12.8', '3.17', '2.37', '137.07', '129.4', '17.35'], ['36', '36 Atalante (A855 TA)', '16:06', '18:33', '21:01*', '04:47', '07:42:15', '+53 06\'32"', '11.6', '2.03', '1.23', '131.86', '129.2', '28.54'], ['77', '77 Frigga (A862 VA)', '16:30', '18:38', '20:46', '04:16', '07:47:21', '+24 51\'28"', '12.4', '2.36', '1.56', '134.58', '127.5', '22.45'], ['675', '675 Ludmilla (A908 QH)', '17:22', '18:56', '20:31', '03:09', '08:05:33', '+15 50\'27"', '11.9', '2.32', '1.57', '128.62', '120.8', '23.07'], ['79', '79 Eurynome (A863 RA)', '17:39', '18:59', '20:19', '02:39', '08:07:58', '+13 11\'10"', '11.0', '2.10', '1.35', '127.31', '119.3', '22.55'], ['240', '240 Vanadis (A884 QB)', '17:18', '19:07', '20:55*', '03:34', '08:15:55', '+18 58\'44"', '12.8', '2.22', '1.48', '127.01', '119.5', '26.55'], ['364', '364 Isara (A893 FE)', '17:23', '19:09', '20:55*', '03:29', '08:18:35', '+18 21\'08"', '12.9', '1.95', '1.19', '126.25', '118.7', '26.91'], ['472', '472 Roma (A901 NA)', '18:12', '19:10', '20:07', '01:55', '08:18:45', '+10 17\'58"', '12.9', '2.35', '1.65', '123.89', '115.8', '23.75'], ['55', '55 Pandora (A858 RB)', '17:50', '20:00', '22:11*', '03:02', '09:09:32', '+25 40\'25"', '12.7', '2.75', '2.17', '116.41', '109.8', '40.41'], ['28', '28 Bellona (A854 EA)', '19:09', '20:02', '20:54*', '01:43', '09:10:55', '+09 46\'44"', '11.5', '2.37', '1.82', '111.61', '103.8', '35.12'], ['29', '29 Amphitrite (A854 EB)', '19:22', '21:02*', '22:43*', '01:31', '10:11:43', '+17 07\'46"', '10.6', '2.47', '2.10', '100.11', '93.21', '51.61'], ['21', '21 Lutetia (A852 VA)', '19:56', '21:14*', '22:32*', '00:56', '10:23:31', '+12 54\'01"', '12.8', '2.81', '2.53', '95.96', '88.82', '52.41'], ['674', '674 Rachele (A908 UK)', '20:36', '22:22*', '00:07*', '00:16', '11:31:15', '+18 16\'29"', '12.4', '2.46', '2.38', '83.06', '77.07', '69.33']], 'total_objects': '41', 'shown_objects': '41'}
obs_datetime : 2024-12-02 00:00:00
obs_date : 20241202
url : https://ssd-api.jpl.nasa.gov/sbwobs.api?sb-kind=a&mpc-code=P64&obs-time=2024-12-02 00:00:00&elev-min=60&time-min=15&vmag-max=13&vmag-min=6&optical=true&fmt-ra-dec=true&mag-required=true&output-sort=trans&maxoutput=50
{'signature': {'source': 'NASA/JPL Small-Body Observability API', 'version': '1.0'}, 'obs_constraints': {'fmt-ra-dec': 'true', 'vmag-min': '6', 'elev-min': '60', 'obs-time': '2024-12-02 00:00:00', 'mpc-code': 'P64', 'time-min': '15', 'vmag-max': '13', 'optical': 'true', 'output-sort': 'trans', 'maxoutput': '50', 'mag-required': 'true'}, 'sb_constraints': {'sb-kind': 'a'}, 'location': 'GSHS Observatory, Suwon', 'obs_night': {'sun_set_az': '242.8', 'sun_set': '2024-12-01 08:13', 'end_civil': '2024-12-01 08:41', 'end_nautical': '2024-12-01 09:14', 'end_astronomical': '2024-12-01 09:45', 'begin_astronomical': '2024-12-01 20:54', 'begin_nautical': '2024-12-01 21:25', 'begin_civil': '2024-12-01 21:57', 'sun_rise_az': '117.3', 'sun_rise': '2024-12-01 22:26', 'transit_phase': '0.00', 'transit': '1984-10-26 23:58 ', 'moon_set_phase': '0.00', 'moon_set': '2024-12-01 07:49 ', 'moon_rise_phase': '0.01', 'moon_rise': '2024-12-01 23:28 ', 'begin_dark': '2024-12-01 09:45', 'mid_dark': '2024-12-01 15:19', 'end_dark': '2024-12-01 20:54', 'dark_time': '11:08'}, 'fields': ['Designation', 'Full name', 'Rise time', 'Transit time', 'Set time', 'Max. time observable', 'R.A.', 'Dec.', 'Vmag', 'Helio. range (au)', 'Topo.range (au)', 'Object-Observer-Sun (deg)', 'Object-Observer-Moon (deg)', 'Galactic latitude (deg)'], 'sort_by': 'transit time (asc.)', 'data': [['4954', '4954 Eric (1990 SQ)', '06:14*', '08:40*', '11:06', '01:20', '21:51:33', '+53 54\'47"', '12.6', '1.11', '0.344', '101.73', '104.2', '-0.15'], ['109', '109 Felicitas (A869 TA)', '10:16', '11:16', '12:16', '01:59', '00:27:47', '+10 29\'32"', '12.2', '1.92', '1.22', '120.35', '117.0', '-52.03'], ['10', '10 Hygiea (A849 GA)', '10:47', '12:07', '13:26', '02:39', '01:18:31', '+13 11\'44"', '11.2', '3.46', '2.71', '132.98', '129.4', '-49.33'], ['500', '500 Selinur (A903 BJ)', '10:28', '12:39', '14:51', '04:23', '01:51:12', '+26 07\'19"', '13.0', '2.32', '1.45', '142.93', '140.9', '-35.05'], ['270', '270 Anahita (A887 TA)', '11:31', '13:02', '14:33', '03:02', '02:13:49', '+15 10\'26"', '11.7', '2.07', '1.18', '146.36', '142.4', '-43.46'], ['33', '33 Polyhymnia (A854 UB)', '11:43', '13:26', '15:10', '03:27', '02:38:22', '+17 47\'32"', '11.5', '2.26', '1.34', '152.73', '148.9', '-38.40'], ['161', '161 Athor (A876 HA)', '11:23', '13:32', '15:41', '04:18', '02:44:00', '+25 14\'57"', '12.8', '2.41', '1.48', '154.81', '152.4', '-31.27'], ['189', '189 Phthia (A878 RA)', '12:26', '13:35', '14:45', '02:18', '02:47:16', '+11 41\'14"', '12.8', '2.38', '1.46', '152.72', '147.8', '-42.36'], ['11', '11 Parthenope (A850 JA)', '12:59', '13:57', '14:56', '01:57', '03:09:39', '+10 24\'10"', '10.2', '2.45', '1.51', '156.90', '151.5', '-39.98'], ['67', '67 Asia (A861 HA)', '13:19', '14:42', '16:05', '02:46', '03:54:17', '+13 44\'51"', '11.8', '2.53', '1.56', '167.65', '161.6', '-29.99'], ['103', '103 Hera (A868 RA)', '13:30', '14:43', '15:55', '02:24', '03:54:50', '+12 03\'35"', '11.6', '2.71', '1.74', '166.53', '160.4', '-31.03'], ['54', '54 Alexandra (A858 RA)', '12:25', '14:57', '17:28', '05:02', '04:09:16', '+37 16\'02"', '12.3', '2.97', '2.01', '163.83', '167.2', '-10.90'], ['13', '13 Egeria (A850 VA)', '12:50', '15:19', '17:48', '04:57', '04:31:39', '+35 02\'56"', '10.1', '2.43', '1.46', '166.89', '171.6', '-9.23'], ['1284', '1284 Latvia (1933 OP)', '13:06', '15:38', '18:10', '05:03', '04:50:14', '+37 37\'17"', '12.9', '2.20', '1.23', '163.89', '169.7', '-4.72'], ['47', '47 Aglaja (A857 RA)', '13:38', '15:59', '18:19', '04:40', '05:11:19', '+30 01\'02"', '12.5', '3.02', '2.04', '168.23', '174.1', '-5.92'], ['75', '75 Eurydike (A862 SA)', '13:44', '16:06', '18:29', '04:44', '05:18:56', '+31 01\'45"', '12.7', '2.53', '1.56', '166.33', '172.2', '-4.00'], ['350', '350 Ornamenta (A892 XC)', '14:51', '16:12', '17:33', '02:42', '05:24:44', '+13 24\'40"', '12.1', '2.61', '1.65', '165.06', '163.6', '-12.66'], ['69', '69 Hesperia (A861 HC)', '15:24', '16:20', '17:15', '01:51', '05:32:10', '+10 04\'33"', '10.8', '2.54', '1.59', '161.54', '159.8', '-12.86'], ['15', '15 Eunomia (A851 OA)', '13:59', '16:27', '18:56', '04:57', '05:39:54', '+35 00\'39"', '8.28', '2.26', '1.31', '160.41', '166.4', '1.86'], ['416', '416 Vaticana (A896 JA)', '14:20', '16:43', '19:05', '04:45', '05:55:33', '+31 07\'21"', '12.8', '3.40', '2.46', '159.47', '164.6', '2.66'], ['116', '116 Sirona (A871 RA)', '14:47', '16:56', '19:06', '04:18', '06:08:49', '+25 18\'52"', '11.6', '2.62', '1.68', '157.87', '161.6', '2.34'], ['26', '26 Proserpina (A853 JA)', '14:55', '17:08', '19:22', '04:26', '06:21:09', '+26 45\'24"', '11.9', '2.87', '1.94', '154.99', '159.1', '5.46'], ['120', '120 Lachesis (A872 GB)', '15:07', '17:32', '19:56', '04:48', '06:44:17', '+32 06\'23"', '12.8', '3.22', '2.33', '149.23', '154.2', '12.33'], ['247', '247 Eukrate (A885 EB)', '16:20', '17:39', '18:58', '02:37', '06:51:52', '+64 58\'09"', '11.5', '2.12', '1.33', '131.40', '137.5', '24.20'], ['88', '88 Thisbe (A866 LA)', '15:40', '17:43', '19:47', '04:07', '06:56:18', '+23 18\'02"', '12.1', '3.08', '2.20', '147.03', '150.7', '11.10'], ['888', '888 Parysatis (A918 CE)', '16:57', '17:49', '18:42', '01:45', '07:02:13', '+09 46\'20"', '12.7', '2.22', '1.36', '142.28', '143.7', '6.52'], ['1626', '1626 Sadeya (1927 AA)', '15:22', '17:53', '20:25', '05:02', '07:06:19', '+37 05\'44"', '12.9', '1.73', '0.832', '143.72', '149.2', '18.42'], ['14', '14 Irene (A851 KA)', '16:07', '18:13', '20:19', '04:11', '07:25:28', '+24 05\'16"', '10.5', '2.52', '1.68', '140.45', '144.4', '17.53'], ['122', '122 Gerda (A872 OA)', '16:29', '18:20', '20:10', '03:41', '07:32:28', '+19 33\'30"', '12.8', '3.17', '2.36', '138.17', '141.5', '17.28'], ['36', '36 Atalante (A855 TA)', '16:02', '18:29', '20:56*', '04:52', '07:41:52', '+53 15\'20"', '11.6', '2.03', '1.23', '132.58', '138.8', '28.50'], ['77', '77 Frigga (A862 VA)', '16:26', '18:34', '20:42', '04:16', '07:47:08', '+24 53\'07"', '12.4', '2.36', '1.55', '135.64', '139.8', '22.41'], ['675', '675 Ludmilla (A908 QH)', '17:18', '18:52', '20:27', '03:08', '08:05:25', '+15 44\'54"', '11.9', '2.32', '1.56', '129.64', '132.8', '23.01'], ['65', '65 Cybele (A861 EB)', '17:16', '18:55', '20:35', '03:19', '08:08:24', '+16 55\'00"', '13.0', '3.77', '3.07', '129.25', '132.6', '24.12'], ['79', '79 Eurynome (A863 RA)', '17:36', '18:55', '20:14', '02:38', '08:07:56', '+13 07\'48"', '11.0', '2.10', '1.35', '128.30', '131.2', '22.52'], ['240', '240 Vanadis (A884 QB)', '17:14', '19:03', '20:52', '03:37', '08:15:59', '+18 59\'20"', '12.8', '2.22', '1.47', '128.01', '131.7', '26.57'], ['364', '364 Isara (A893 FE)', '17:20', '19:06', '20:52', '03:32', '08:18:48', '+18 23\'55"', '12.9', '1.95', '1.19', '127.22', '130.8', '26.97'], ['472', '472 Roma (A901 NA)', '18:08', '19:06', '20:04', '01:56', '08:18:48', '+10 20\'34"', '12.8', '2.35', '1.64', '124.89', '127.6', '23.78'], ['55', '55 Pandora (A858 RB)', '17:46', '19:57', '22:07*', '03:07', '09:09:42', '+25 42\'16"', '12.7', '2.75', '2.16', '117.37', '122.0', '40.45'], ['28', '28 Bellona (A854 EA)', '19:06', '19:58', '20:51', '01:44', '09:11:27', '+09 45\'08"', '11.5', '2.37', '1.81', '112.48', '115.7', '35.22'], ['29', '29 Amphitrite (A854 EB)', '19:19', '20:59*', '22:40*', '01:35', '10:12:26', '+17 04\'43"', '10.6', '2.47', '2.08', '100.94', '105.3', '51.75'], ['21', '21 Lutetia (A852 VA)', '19:53', '21:11*', '22:28*', '01:00', '10:24:07', '+12 52\'00"', '12.8', '2.81', '2.51', '96.83', '100.9', '52.52'], ['674', '674 Rachele (A908 UK)', '20:33', '22:19*', '00:04*', '00:20', '11:32:31', '+18 13\'48"', '12.4', '2.47', '2.37', '83.76', '88.75', '69.57']], 'total_objects': '42', 'shown_objects': '42'}
obs_datetime : 2024-12-03 00:00:00
obs_date : 20241203
url : https://ssd-api.jpl.nasa.gov/sbwobs.api?sb-kind=a&mpc-code=P64&obs-time=2024-12-03 00:00:00&elev-min=60&time-min=15&vmag-max=13&vmag-min=6&optical=true&fmt-ra-dec=true&mag-required=true&output-sort=trans&maxoutput=50

## 소행성 좌표 얻기

### 소행성 id 잘라내기

앞서 얻은 dataframe로 부터 소행성의 이름을 알아보자.

In [ ]:
#print("df :", df)
#print("df['Full name'] :", df['Full name'])
print("df['Full name'][0] :", df['Full name'][0])

#import re
#asteroid_names = re.findall('\(([^)]+)', df['Full name'][0])   #extracts string in bracket()
#print (asteroid_names[0])

asteroid_id = df['Full name'][0].split(" ")[0]   #extracts string in bracket()
print("asteroid_id :", asteroid_id)
obs_date = df['OBSdate(UT)'][0]

### astroquery.mpc

[astroquery.mpc](https://astroquery.readthedocs.io/en/latest/mpc/mpc.html) 를 이용하여 시간에 따른 소행성의 좌표를 얻어보자.

In [ ]:
from astroquery.mpc import MPC
eph = MPC.get_ephemeris(asteroid_id, step='1h', number=30 * 24)
print("type(eph) :", type(eph))
print("eph :", eph)
df_eph = eph.to_pandas()
df_eph

### 최대 움직임 속도 알아보기

In [ ]:
print(f"Proper motion: {eph['Proper motion'].quantity.to('arcmin/h').max():.03f}")

### 파일 저장하기

In [ ]:
eph = MPC.get_ephemeris(asteroid_id, location='P64',
                        ra_format={'sep': ':', 'unit': 'hourangle', 'precision': 1},
                        dec_format={'sep': ':', 'precision': 0},
                        step='1h')
print("type(eph): ", type(eph))
print("eph: ", eph)

In [ ]:
df_eph = eph.to_pandas()
df_eph['Asteroid ID'] = asteroid_id

df_eph['Asteroid name'] = df['Full name'][0]
df_eph.to_csv(str(BASEPATH/save_dir_name/ f'asteroid_{asteroid_id}.csv'))
df_eph

### (과제)

df에 있는 소행성들의 eph를 1시간 간격으로 구하여 각각 csv 파일로 저장해 보자.

In [ ]:
from pathlib import Path
from astroquery.mpc import MPC
from pprint import pprint
import re

for i, row  in df.iterrows():
    print("row['Full name'] :", row["Full name"])

    # asteroid_names = re.findall('\(([^)]+)', row['Full name'])   #extracts string in bracket()
    fullname_el = row['Full name'].split(" ")
    print("fullname_el[1] :", fullname_el[1])
    asteroid_id = fullname_el[1]
    print(asteroid_id)

    eph = MPC.get_ephemeris(asteroid_id,
                        location='P64',
                        ra_format={'sep': ':', 'unit': 'hourangle', 'precision': 1},
                        dec_format={'sep': ':', 'precision': 0},
                        step='1h')
    # print("type(eph): ", type(eph))
    #print("eph: ", eph)

    df_eph = eph.to_pandas()
    df_eph['Asteroid ID'] = asteroid_id
    df_eph['Asteroid name'] = df['Full name'][i]
    df_eph.to_csv(str(BASEPATH/save_dir_name/ f"eph_asteroid_{asteroid_id}.csv"))