# Astronomical time

* 이 노트북을 구글 코랩에서 실행하고자 한다면 [파일] - [드라이브에 사본 저장]을 하여 본인의 소유로 만든 후에 코드를 실행하거나 수정할 수 있습니다.

* 이 파일은 실제 수업에 사용하므로 필요에 따라 예고 없이 변경될 수 있습니다.

* If you have any questions or comments on this document, please email me(Kiehyun.Park@gmail.com).

* 이 파일(문서)는 공교육 현장에서 수업시간에 자유롭게 사용할 수 있으나, 다른 목적으로 사용할 시에는 사전에 연락을 주셔서 상의해 주시기 바랍니다.

이 자료는 천체 관측 자료 처리 모듈인 Astropy와 FITS 파일을 열어 관련 정보를 알아보는 방법을 설명합니다.

## 필요한 환경

이 프로젝트를 위해서는 아래의 모듈이 필요합니다.

> numpy, matplotlib, astropy, version_information

### 모듈 설치 및 버전 확인

아래 셀을 실행하면 이 노트북을 실행하는데 필요한 모듈을 설치하고 파이썬 및 관련 모듈의 버전을 확인할 수 있다.

In [ ]:
import importlib, sys, subprocess
packages = "numpy, matplotlib, astropy, version_information" # required modules
pkgs = packages.split(", ")
for pkg in pkgs :
    if not importlib.util.find_spec(pkg):
        subprocess.check_call([sys.executable, '-m', 'pip', 'install', pkg, '-q'])
        print(f"**** {pkg} module is now installed.")
    else:
        print(f"******** {pkg} module is already installed.")
%load_ext version_information
import time
now = time.strftime("%Y-%m-%d %H:%M:%S (%Z = GMT%z)")
print(f"This notebook was generated at {now} ")

vv = %version_information {packages}
for i, pkg in enumerate(vv.packages):
    print(f"{i} {pkg[0]:10s} {pkg[1]:s}")

******** numpy module is already installed.
******** matplotlib module is already installed.
******** astropy module is already installed.
**** astroquery module is now installed.
**** version_information module is now installed.
This notebook was generated at 2024-08-26 05:43:12 (UTC = GMT+0000)
0 Python     3.10.12 64bit [GCC 11.4.0]
1 IPython    7.34.0
2 OS         Linux 6.1.85+ x86_64 with glibc2.35
3 numpy      1.26.4
4 matplotlib 3.7.1
5 astropy    6.1.2
6 astroquery 0.4.7
7 version_information 1.0.4

## Date and time

파이썬에서 날짜와 시각을 다루는 방법에 대해 알아보겠습니다.

### datetime 모듈

datetime은 파이썬 기본 모듈로 날짜와 시간을 함께 저장하는 datetime 클래스, 날짜만 저장하는 date 클래스, 시간만 저장하는 time 클래스, 시간 구간 정보를 저장하는 timedelta 클래스 등을 제공합니다.

#### datetime.datetime

datetime 모듈에 datetime class가 들어 있는데 이름이 같으므로 유의할 필요가 있습니다.

In [ ]:
# prompt: make datetime
import datetime

# Create a datetime object for a specific date and time
dt = datetime.datetime(2023, 4, 15, 12, 30, 0)

print("Specific date and time:", dt)
print("Year:", dt.year)
print("Month:", dt.month)
print("Day:", dt.day)
print("Hour:", dt.hour)
print("Minute:", dt.minute)
print("Second:", dt.second)

Specific date and time: 2023-04-15 12:30:00
Year: 2023
Month: 4
Day: 15
Hour: 12
Minute: 30
Second: 0

아래와 같이 사용하기도 합니다.

In [ ]:
# prompt: make datetime
from datetime import datetime

# Create a datetime object for a specific date and time
dt = datetime(2023, 4, 15, 12, 30, 0)

print("Specific date and time:", dt)
print("Year:", dt.year)
print("Month:", dt.month)
print("Day:", dt.day)
print("Hour:", dt.hour)
print("Minute:", dt.minute)
print("Second:", dt.second)

Specific date and time: 2023-04-15 12:30:00
Year: 2023
Month: 4
Day: 15
Hour: 12
Minute: 30
Second: 0

#### 문자열로 변환

시간 정보는 다음처럼 문자열로 바꿀 수 있습니다.

In [ ]:
print("Specific date and time:", dt.strftime("%Y-%m-%d %H:%M:%S"))

Specific date and time: 2023-04-15 12:30:00

####문자열로부터 datetime 만들기

반대로 문자열로부터 날짜와 시간 정보를 읽어서 datetime 클래스 객체를 만들때는 strptime 클래스 메서드를 사용합니다. 첫 번째 인수로는 날짜와 시간 정보를 가진 문자열을, 두번째 인수로는 그 문자열을 해독할 수 있는 형식 문자열을 입력합니다.

In [ ]:
dt2 = datetime.strptime("2017-01-02 14:44", "%Y-%m-%d %H:%M")
print("Specific date and time:", dt2.strftime("%Y-%m-%d %H:%M:%S"))

Specific date and time: 2017-01-02 14:44:00

#### 현재 시각

datetime.now() 메서드는 현재 시각을 반환해 줍니다.

In [ ]:
# Current date and time
now = datetime.now()
print("type(now)", type(now))
print(f"Current date and time: {now.strftime('%Y-%m-%d %H:%M:%S')}")

type(now) <class 'datetime.datetime'>
Current date and time: 2024-08-25 23:53:43

#### datetime.date

오늘 날짜는 다음과 같이 얻을 수 있습니다.

In [ ]:
import datetime
today = datetime.date.today()
today

datetime.date(2024, 8, 25)

#### timedelta

오늘로부터 100일 후의 날짜를 얻으려면 100일을 뜻하는 datetime.timedelta(days=100)으로 만든 객체가 필요합니다.

In [ ]:
diff_days = datetime.timedelta(days=5)
diff_days

NameError: name 'datetime' is not defined

이제 오늘 날짜+5일에 해당하는 다음 산술식을 사용하면 100일 이후의 날짜를 쉽게 얻을 수 있습니다.

In [ ]:
today + diff_days

datetime.date(2024, 8, 30)

#### (과제)

토성의 충은 August 27, 2023 08:00 (UT) 이었고, 토성의 회합주기가 378.10 day 라면 2024년에는 충은 대한민국 표준시(KST)로 언제인가?

In [ ]:
# prompt: 토성의 충은 August 27, 2023 08:00 (UT) 이었고, 토성의 회합주기가 378.10 day 라면 2024년에는 충은 대한민국 표준시(KST)로 언제인지 datetime, timedelta를 이용한 puthon 코드를 작성해워

from datetime import datetime, timedelta
import pytz

# 토성의 2023년 충
saturn_conjunction_2023 = datetime(2023, 8, 27, 8, 0, 0, tzinfo=pytz.utc)

# 토성의 회합 주기
saturn_synodic_period = timedelta(days=378.10)

# 2024년 토성의 충 (UTC)
saturn_conjunction_2024_utc = saturn_conjunction_2023 + saturn_synodic_period

# 한국 표준시(KST)로 변환
KST = pytz.timezone('Asia/Seoul')
saturn_conjunction_2024_kst = saturn_conjunction_2024_utc.astimezone(KST)

print("2024년 토성의 충 (KST):", saturn_conjunction_2024_kst.strftime("%Y-%m-%d %H:%M:%S %Z%z"))

In [ ]:
# (과제) 아래에 코딩을 완성하여 제출하시오.
from  datetime import datetime, timedelta



# 2024년 충 (UT)

print("Saturn Opposition in 2024 (UT):", saturn_opp_2024_UT.strftime("%Y-%m-%d %H:%M"))

# 한국 표준시는 UT보다 9시간 빠르다.


print("Saturn Opposition in 2024 (KST):", saturn_opp_2024_KST.strftime("%Y-%m-%d %H:%M"))

Saturn Opposition in 2024 (UT): 2024-09-08 10:24
Saturn Opposition in 2024 (KST): 2024-09-08 19:24

### astropy 모듈

astropy는 천문학에서 널리 사용되는 모듈입니다.

#### astropy.time

[astropy.time](https://docs.astropy.org/en/stable/time/)은 천문학에서 사용되는 시각을 다루는데 매우 유용하며 줄리안 데이 변환을 쉽게 해줍니다.

#### Time 객체 만들기

문자열을 바로 Time 객체로 만들어 줍니다. 이때 날짜와 시각 사이에 문자 'T'를 사용하는 것이 특징입니다.

In [ ]:
import numpy as np
from astropy.time import Time

t = Time('1999-01-01T00:00:00.123456789')
t

dir 함수를 이용하여 메쏘드를 확인해 볼 수 있습니다.

In [ ]:
print("dir(t): ", dir(t))

dir(t):  ['FORMATS', 'SCALES', 'T', '_APPLICABLE_FUNCTIONS', '_METHOD_FUNCTIONS', '__abstractmethods__', '__add__', '__array_function__', '__array_priority__', '__bool__', '__class__', '__copy__', '__deepcopy__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_abc_impl', '_advanced_index', '_apply', '_astropy_column_attrs', '_call_erfa', '_format', '_get_delta_tdb_tt', '_get_delta_ut1_utc', '_get_time_fmt', '_id_cache', '_init_from_vals', '_location', '_make_value_equivalent', '_match_shape', '_ptp_decorator', '_ptp_impl', '_set_delta_tdb_tt', '_set_delta_ut1_utc', '_set_scale', '_shaped_like_input', '_sid_time_or_earth_rot_ang', '_time', '_time_comparison', 'argmax', 'argmin', 'argsort', 'byear', 'byear_str', 'cache', 'copy', 'cxcsec', 'datetime', 'datetime64', 'decimalyear', 'delta_tdb_tt', 'delta_ut1_utc', 'diagonal', 'earth_rotation_angle', 'filled', 'fits', 'flatten', 'format', 'get_delta_ut1_utc', 'gps', 'in_subfmt', 'info', 'insert', 'isclose', 'iso', 'isot', 'isscalar', 'jd', 'jd1', 'jd2', 'jyear', 'jyear_str', 'light_travel_time', 'location', 'mask', 'masked', 'max', 'mean', 'min', 'mjd', 'ndim', 'now', 'out_subfmt', 'plot_date', 'precision', 'ptp', 'ravel', 'replicate', 'reshape', 'scale', 'shape', 'sidereal_time', 'size', 'sort', 'squeeze', 'stardate', 'strftime', 'strptime', 'swapaxes', 'tai', 'take', 'tcb', 'tcg', 'tdb', 'to_datetime', 'to_string', 'to_value', 'transpose', 'tt', 'unix', 'unix_tai', 'unmasked', 'ut1', 'utc', 'value', 'writeable', 'yday', 'ymdhms']

아래와 같이 리스트를 Time 객체로 만들 수도 있습니다.

In [ ]:
import numpy as np
from astropy.time import Time
times = ['1999-01-01T00:00:00.123456789', '2010-01-01T00:00:00']
t2 = Time(times, scale='utc')
t2

#### Time format

다양한 [Time format](https://docs.astropy.org/en/stable/time/index.html#using-astropy-time)을 지원하므로 쉽게 변환이 가능합니다.

In [ ]:
t3_string = '1999-01-01T00:00:00.123456789'
t3 = Time(t3_string, format='isot')
print("t3 :", t3)
print("t3.format: ", t3.format)

t3 : 1999-01-01T00:00:00.123
t3.format:  isot

In [ ]:
t3_jd = t3.jd
print("t3_jd :", t3_jd)
print("type(t3_jd): ", type(t3_jd))

t3_jd : 2451179.500001429
type(t3_jd):  <class 'numpy.float64'>

In [ ]:
t3_mjd = t3.mjd
print("t3_mjd :", t3_mjd)
print("type(t3_mjd): ", type(t3_mjd))

t3_mjd : 51179.000001428896
type(t3_mjd):  <class 'numpy.float64'>

In [ ]:
t3.format = 'fits'
print("t3 :", t3)

t3 : 1999-01-01T00:00:00.123

#### Time Series

[Time Series](https://docs.astropy.org/en/stable/timeseries/index.html#using-timeseries) 함수를 이용하면 타임 시리즈 객체를 쉽게 만들수 있습니다.

In [ ]:
from astropy import units as u
from astropy.timeseries import TimeSeries
ts1 = TimeSeries(time_start='2016-03-22T12:30:31',
                time_delta=3 * u.s,
                n_samples=5)
print("type(ts1): ", type(ts1))
print("ts1: \n", ts1)

type(ts1):  <class 'astropy.timeseries.sampled.TimeSeries'>
ts1:
           time
-----------------------
2016-03-22T12:30:31.000
2016-03-22T12:30:34.000
2016-03-22T12:30:37.000
2016-03-22T12:30:40.000
2016-03-22T12:30:43.000

dir 함수를 이용하여 메쏘드를 확인해 볼 수 있습니다.

In [ ]:
print("dir(ts1): ", dir(ts1))

dir(ts1):  ['Column', 'ColumnClass', 'MaskedColumn', 'Row', 'TableColumns', 'TableFormatter', '__array__', '__bytes__', '__class__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__le__', '__len__', '__lt__', '__module__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_base_repr_', '_check_names_dtype', '_check_required_columns', '_column_class', '_convert_col_for_table', '_convert_data_to_col', '_convert_string_dtype', '_copy_indices', '_delay_required_column_checks', '_get_col_cls_for_table', '_init_from_cols', '_init_from_dict', '_init_from_list', '_init_from_list_of_dicts', '_init_from_ndarray', '_init_indices', '_ipython_key_completions_', '_is_list_or_tuple_of_str', '_is_mixin_for_table', '_make_index_row_display_table', '_make_table_from_cols', '_mask', '_masked', '_meta', '_new_from_slice', '_replace_cols', '_replace_column_warnings', '_repr_html_', '_required_columns', '_required_columns_enabled', '_required_columns_relax', '_rows_equal', '_set_col_parent_table_and_mask', '_set_column_attribute', '_set_masked', '_set_of_names_in_colnames', '_set_row', 'add_column', 'add_columns', 'add_index', 'add_row', 'argsort', 'as_array', 'colnames', 'columns', 'convert_bytestring_to_unicode', 'convert_unicode_to_bytestring', 'copy', 'dtype', 'field', 'filled', 'fold', 'formatter', 'from_pandas', 'group_by', 'groups', 'has_masked_columns', 'has_masked_values', 'has_mixin_columns', 'iloc', 'index_column', 'index_mode', 'indices', 'info', 'insert_row', 'items', 'itercols', 'iterrows', 'keep_columns', 'keys', 'loc', 'loc_indices', 'mask', 'masked', 'meta', 'more', 'pformat', 'pformat_all', 'pprint', 'pprint_all', 'pprint_exclude_names', 'pprint_include_names', 'primary_key', 'read', 'remove_column', 'remove_columns', 'remove_indices', 'remove_row', 'remove_rows', 'rename_column', 'rename_columns', 'replace_column', 'reverse', 'round', 'setdefault', 'show_in_browser', 'show_in_notebook', 'sort', 'time', 'to_pandas', 'update', 'values', 'values_equal', 'write']

다음과 같은 방법으로 만들 수도 있습니다.

In [ ]:
ts2 = TimeSeries(time=['2016-03-22T12:30:31',
                        '2016-03-22T12:30:38',
                        '2016-03-22T12:34:40'])
ts2

<TimeSeries length=3>
          time
          Time
-----------------------
2016-03-22T12:30:31.000
2016-03-22T12:30:38.000
2016-03-22T12:34:40.000

시간 간격을 다르게 만들 수도 있습니다.

In [ ]:
TimeSeries(time_start="2011-01-01T00:00:00",
            time_delta=[0.1, 0.2, 0.1, 0.3, 0.2]*u.s)

<TimeSeries length=5>
          time
          Time
-----------------------
2011-01-01T00:00:00.000
2011-01-01T00:00:00.100
2011-01-01T00:00:00.300
2011-01-01T00:00:00.400
2011-01-01T00:00:00.700

### time list 만들기

#### (과제) datetime

*   사용 모듈 : datetime, dateutil
*   함수명 :  create_datetime_list
*   입력 변수 : 시작 시각, 끝 시각, 시간 간격
*   반환 : 일정한 시간 간격의 list

아래와 같이 함수를 만들어 사용하면 편리할 수 있습니다.

In [ ]:
#(과제) 이곳에 코딩을 완성하시오.
from datetime import datetime, timedelta
from dateutil import relativedelta

def create_datetime_list(
        start_time,
        end_time,
        # tdelta = timedelta(minutes=15),
        tdelta = relativedelta.relativedelta(minutes=15),
        **kwargs
        ):
    '''
    create datetime list
    Parameters
    ----------
    start_time : datetime.datetime for starting.
    end_time : datetime.datetime for starting.
    tdelta : time delta
            - timedelta(minutes=15)
            - relativedelta.relativedelta(minutes=15)
    Returns : list of datetime with interval timedelta
    '''




    return time_list




print("dt_list : \n", dt_list)

dt_list :
 [datetime.datetime(2022, 1, 5, 0, 0), datetime.datetime(2022, 1, 5, 0, 30), datetime.datetime(2022, 1, 5, 1, 0), datetime.datetime(2022, 1, 5, 1, 30), datetime.datetime(2022, 1, 5, 2, 0), datetime.datetime(2022, 1, 5, 2, 30), datetime.datetime(2022, 1, 5, 3, 0), datetime.datetime(2022, 1, 5, 3, 30), datetime.datetime(2022, 1, 5, 4, 0), datetime.datetime(2022, 1, 5, 4, 30), datetime.datetime(2022, 1, 5, 5, 0), datetime.datetime(2022, 1, 5, 5, 30), datetime.datetime(2022, 1, 5, 6, 0), datetime.datetime(2022, 1, 5, 6, 30), datetime.datetime(2022, 1, 5, 7, 0), datetime.datetime(2022, 1, 5, 7, 30), datetime.datetime(2022, 1, 5, 8, 0), datetime.datetime(2022, 1, 5, 8, 30), datetime.datetime(2022, 1, 5, 9, 0), datetime.datetime(2022, 1, 5, 9, 30), datetime.datetime(2022, 1, 5, 10, 0), datetime.datetime(2022, 1, 5, 10, 30), datetime.datetime(2022, 1, 5, 11, 0), datetime.datetime(2022, 1, 5, 11, 30), datetime.datetime(2022, 1, 5, 12, 0), datetime.datetime(2022, 1, 5, 12, 30), datetime.datetime(2022, 1, 5, 13, 0), datetime.datetime(2022, 1, 5, 13, 30), datetime.datetime(2022, 1, 5, 14, 0), datetime.datetime(2022, 1, 5, 14, 30), datetime.datetime(2022, 1, 5, 15, 0), datetime.datetime(2022, 1, 5, 15, 30), datetime.datetime(2022, 1, 5, 16, 0), datetime.datetime(2022, 1, 5, 16, 30), datetime.datetime(2022, 1, 5, 17, 0), datetime.datetime(2022, 1, 5, 17, 30), datetime.datetime(2022, 1, 5, 18, 0), datetime.datetime(2022, 1, 5, 18, 30), datetime.datetime(2022, 1, 5, 19, 0), datetime.datetime(2022, 1, 5, 19, 30), datetime.datetime(2022, 1, 5, 20, 0), datetime.datetime(2022, 1, 5, 20, 30), datetime.datetime(2022, 1, 5, 21, 0), datetime.datetime(2022, 1, 5, 21, 30), datetime.datetime(2022, 1, 5, 22, 0), datetime.datetime(2022, 1, 5, 22, 30), datetime.datetime(2022, 1, 5, 23, 0), datetime.datetime(2022, 1, 5, 23, 30), datetime.datetime(2022, 1, 6, 0, 0)]

#### (과제) astropy.Time

1. 다음 조건의 함수를 정의하시오.

*   사용 모듈 : astropy.Time
*   함수명 :  create_datetime_list
*   입력 변수 : 시작 시각, 끝 시각, 시간 간격
*   반환 : 일정한 시간 간격의 list



2. 정의한 함수로 부터 다음 조건의 일정 시간 간격의 list를 만드시오.

*   시작 시각 : 2022년 1월 5일 0시 정각(UT)
*   끝 시각 :  2022년 1월 5일 23시 59분(UT)
*   시간 간격 : 30분

In [ ]:
# (과제) 아래에 코딩을 완성하여 제출하시오.

def create_time_list(
        start_time,
        end_time,
        time_delta = 30*u.min,
        **kwargs
        ):
    '''
    create datetime list
    Parameters
    ----------
    start_time : astropy.time.Time for starting.
    end_time : astropy.time.Time for starting.
    time_delta : time delta, default 30 min
            - 30*u.min
    Returns : list of datetime with interval timedelta
    '''




    return t_list





t_list = create_time_list(start_time, end_time, time_delta=time_delta)
print("len(t_list) : \n", len(t_list))
print("t_list : \n", t_list)

len(t_list) :
 48
t_list :
 [<Time object: scale='utc' format='isot' value=2022-01-05T00:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T00:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T01:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T01:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T02:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T02:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T03:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T03:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T04:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T04:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T05:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T05:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T06:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T06:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T07:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T07:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T08:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T08:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T09:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T09:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T10:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T10:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T11:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T11:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T12:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T12:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T13:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T13:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T14:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T14:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T15:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T15:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T16:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T16:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T17:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T17:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T18:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T18:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T19:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T19:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T20:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T20:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T21:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T21:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T22:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T22:30:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T23:00:00.000>, <Time object: scale='utc' format='isot' value=2022-01-05T23:30:00.000>]

#### (과제) astropy.timeseries

astropy.timeseries 모듈을 이용하여 다음 조건의 일정 시간 간격의 list를 만드시오.

*   시작 시각 : 2022년 1월 5일 0시 정각(UT)
*   끝 시각 :  2022년 1월 5일 23시 59분(UT)
*   시간 간격 : 30분

In [ ]:
# (과제) 아래에 코딩을 완성하여 제출하시오.

import astropy.units as u
from astropy.timeseries import BinnedTimeSeries

timeser3 =
print("type(timeser3): ", type(timeser3))
print("len(timeser3): \n", len(timeser3))
print("timeser3: \n", timeser3)

type(timeser3):  <class 'astropy.timeseries.binned.BinnedTimeSeries'>
len(timeser3):
 48
timeser3:
      time_bin_start     time_bin_size
                             min
----------------------- -------------
2022-01-05T00:00:00.000          30.0
2022-01-05T00:30:00.000          30.0
2022-01-05T01:00:00.000          30.0
2022-01-05T01:30:00.000          30.0
2022-01-05T02:00:00.000          30.0
2022-01-05T02:30:00.000          30.0
2022-01-05T03:00:00.000          30.0
2022-01-05T03:30:00.000          30.0
2022-01-05T04:00:00.000          30.0
                    ...           ...
2022-01-05T19:00:00.000          30.0
2022-01-05T19:30:00.000          30.0
2022-01-05T20:00:00.000          30.0
2022-01-05T20:30:00.000          30.0
2022-01-05T21:00:00.000          30.0
2022-01-05T21:30:00.000          30.0
2022-01-05T22:00:00.000          30.0
2022-01-05T22:30:00.000          30.0
2022-01-05T23:00:00.000          30.0
2022-01-05T23:30:00.000          30.0
Length = 48 rows